.idea
.lock*
.node-gyp
.vscode
build/*
!/build/linux/
/build/linux/*
!/build/linux/x64/
/build/linux/x64/*
!/build/linux/x64/Release/
/build/linux/x64/Release/*
!/build/linux/x64/Release/sapnwrfc.node
!/build/win32/
/build/win32/*
!/build/win32/x64/
/build/win32/x64/*
!/build/win32/x64/Release/
/build/win32/x64/Release/*
!/build/win32/x64/Release/sapnwrfc.node
build-*
build.sh
dev_rfc.trc
node_modules
npm-debug.log
nwrfcsdk
*.sar
*.exe
*.smf
